www/nbproject/  # ignore netbeans config
www/nbproject/*
www/php/Config.php
www/php/*~
www/git.php
www/*~
docs/*~
docs/Notes/*~
docs/diagrams/*~
docs/Deliverable1/*~
docs/Deliverable2/*~
scripts/*~
*~

